<launch>
    <arg name="debug" default="false" />

    <param name="robot_description" textfile="$(find arm_pkg)/urdf/arm.urdf" />

    <node if="$(arg debug)" pkg="arm_pkg" type="sbus_parse" name="sbus_parse" 
          output="screen" launch-prefix="xterm -e gdb --args" />
    <node unless="$(arg debug)" pkg="arm_pkg" type="sbus_parse" name="sbus_parse" 
          output="screen" launch-prefix="" />

    <node if="$(arg debug)" pkg="arm_pkg" type="main_ctrl" name="main_ctrl" 
          output="screen" launch-prefix="xterm -e gdb --args" />
    <node unless="$(arg debug)" pkg="arm_pkg" type="main_ctrl" name="main_ctrl" 
          output="screen" launch-prefix="" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find arm_pkg)/rviz/arm.rviz" required="true" />

</launch>